<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Ecológicamente Responsable</h2>
                <hr class="light">
                <p class="text-faded">Este producto recolecta agua de la lluvia sin intervenir con su función natural en las plantas de las que están a su alrededor.<br>
                Recolecta y filtra tanto agua como humedad mediante métodos ecológicamente responsables. Hecha de resina de por fuera y polímero de cerámica por dentro. <br>
                El producto tiene un ciclo de vida de la cuna a la cuna.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
