<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Conclusión</h2>
                <hr class="primary">
                <p>Este diseño es un ejemplo del mimetismo  ya que la forma y parte de la función esta altamente inspirada en la planta Nepenthes bicalcarata. Parte crucial de este diseño era tomar en cuenta el ciclo de vida. Balancear la calidad del producto con los materiales disponibles y que sean ecológicamente responsables. Economizar por la cantidad de recursos disponibles es una practica normal pero la cantidad de recursos que no son usados efectivamente es enorme, entre ellas el agua. Por eso decidimos desarollar este proyecto.</p>
            

    </div>
</section>
