<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>AAAA</h1>
            <hr>
            <p>Un filtro de agua con diseño inspirado en la planta “Nepenthes bicalcarata” y en la botella Klein de uso en exteriores. <br>
                Este producto recolecta agua de la lluvia sin intervenir con su función natural en las plantas de las que están a su alrededor.<br>
                Recolecta y filtra tanto agua como humedad mediante métodos ecológicamente responsables. Hecha de resina de por fuera y polímero de cerámica por dentro. <br>
                El producto tiene un ciclo de vida de la cuna a la cuna.
</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
