<!DOCTYPE html>
<html lang="en">
  
    <head>
    <title>My first web page</title>
</head>
  
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
{% include head.html %}


<body id="page-top">
  {% include nav.html %}
  {% include header.html %}
  {% include call-to-action.html %}
  {% include services.html %}
  {% include portfolio.html %}
  {% include aside.html %}
  {% include contact.html %}
  {% include scripts.html %}
</body>

</html>
